@tailwind utilities;

@layer utilities {
  .h1 {
    font-size: 270px;
    line-height: 204px;
    letter-spacing: -0.03em;
    @screen mobile {
      font-size: 68px;
      line-height: 60px;
    }
  }
  .h1-huge {
    font-size: 334px;
    line-height: 260px;
    letter-spacing: -0.03em;
    @screen mobile {
      font-size: 88px;
      line-height: 72px;
      letter-spacing: -0.02em;
    }
  }
  .p1,
  .p2,
  .p3,
  .p3-text {
    letter-spacing: -0.03em;
  }
  .p1 {
    font-size: 32px;
    line-height: 32px;
    @screen mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .p2 {
    font-size: 28px;
    line-height: 32px;
    @screen mobile {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .p3 {
    font-size: 24px;
    line-height: 24px;
    @screen mobile {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .p3-text {
    font-size: 24px;
    line-height: 28px;
  }

  .button-text {
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -0.03em;
    @screen mobile {
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0;
    }
  }

  .caption-text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;
    @screen mobile {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .caption-text-2 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
  }

  .subtitle {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
  }

  .policys-text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    @screen mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

h1,
h2,
h3,
.h1-huge,
.h1,
.h2 {
  font-family: FiraSansExtraCondensed;
}

h1,
h2,
h3,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: unset;
}

h2 {
  font-size: 186px;
  line-height: 144px;
  letter-spacing: -0.03em;
  @screen mobile {
    font-size: 52px;
    line-height: 44px;
  }
}

h3 {
  font-size: 72px;
  line-height: 68px;
  letter-spacing: -0.02em;
  @screen mobile {
    font-size: 40px;
    line-height: 40px;
  }
}
