@import 'variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'typography';

@font-face {
  font-family: 'FiraSansExtraCondensed';
  src:
    url('../fonts/FiraSansExtraCondensed-Bold.woff2') format('woff2'),
    url('../fonts/FiraSansExtraCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $color-white;
  letter-spacing: -0.03em;
  text-align: left;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html {
  background: $color-bg;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  position: relative;
  margin: 0;
  min-width: 320px;
  color: $color-white;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

@screen mobile {
  .container {
    max-width: 336px;
    width: 100%;
  }
}
